{% extends 'BluesoftBundle::template.html.twig' %}

{% block body %}
    <div class="row new-form-wrap col-xs-12 col-md-6">
        <h1>Contract creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}
        <a style="margin-top: 30px;" href="{{ path('index') }}" class="btn btn-primary">Powrót</a>
    </div>
{% endblock %}
